{% extends "common/base.html" %}

{% block content %}
<div class="page-header">
  <h1>It worked!</h1>
  <h2>Congratulations on your first Django-powered page.</h2>
  <p>
  Of course, you haven't actually done any work yet. Next, start your first app by running <code>python manage.py startapp [app_label]</code>.
  </p>
  <p>
  You're seeing this message because you have <code>DEBUG = True</code> in your Django settings file and you haven't configured any URLs. Get to work!
  </p>
</div>
{% endblock %}
